name: CI
on: [push]
jobs:
  build:
    name: Build, lint, and test on Node
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ubuntu-latest-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ubuntu-latest-
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.14.6
          run_install: true
      - name: Check Package
        run: npx @skypack/package-check
      - name: Test
        run: yarn test --ci --coverage --maxWorkers=2
      - name: Build
        run: yarn build
